.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.titulo {
    font-size: 3rem;
    text-align: center;
    margin-top: 2rem;
    color: rgb(254, 222, 255);
    margin: 2rem;
    padding: 5px;
    background-color: #FF0000;
}

.pesquisa {
    display: flex;
    align-items: center;
    justify-content: center;
}